html {
	background-color: #FFEBCD;
}
header {
    background-color: #F4A460;
    text-align: center;
    margin: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 10px;
	font-family: Apple Chancery, cursive;
	font-size: 30px
}
.obrazki {
	display: flex;
	flex-direction: column;
}

.obrazek {
	max-width: 600px;
	height: auto;
	display: flex;
	margin: 0 auto;
	margin-top: 30px;
}
#formularz {
    margin-left: 500px;
    margin-top: 200px;
    margin-right: 600px;
    background-color: yellow;
    box-shadow: 3px 3px 10px, -3px 3px 10px, 3px -3px 10px;
}
nav {
    width: 300px;
    float: right;
    text-align: center;
	margin-bottom:60px;
	margin-top: 60px;
	margin-right: 10px;
	background-color: #F4A460;
}
ol {
	list-style-type: none;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
ol > li {
	padding: 10px;
	margin-left: 60px;
	margin-right: 70px;
}
ol > li > ul > li:hover {
	background-color: #FFDEAD;
}
ol > li > ul > li:hover a {
	color: #09C;
}
ol > li > ul > li > a {
	border-top: 3px solid #FFF;
	border-top-color: #808080;
}
ol > li > ul {
	display: none;
}
ol > li:hover > ul {
	display: block;
}
article {
	margin-right: 500px;
	margin-left: 200px;
	text-align: center;
}
footer {
	margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
	background-color: #F4A460;
	text-align: center;
}
ol a {
	text-decoration: none;
	color: #000;
	display: block;
}
ol > li > a:hover {
	color: #09C;
}
ol > li:hover {
	background-color: #EEE;
}
ol > li > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ol > li {
	background-color: #DEB887;
	width: 150px; 
}
ol > li > ul > li > ul > li:hover {
	color: #09C;
}
.active {
	background-color: #DEB887;
	font-style: oblique;
}
@media only screen and (max-width: 768px) {
	nav {
        margin-left: auto;
        margin-right: auto;
        float: none;
	}
    article {
        margin-left: auto;
		margin-right: auto;
		float: none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	nav {
        margin-left: auto;
        margin-right: auto;
        float: none;
	}
    article {
        margin-left: auto;
		margin-right: auto;
		float: none;
    }
	img { 
		display: table-cell;
		max-width: 100%; 
	}
}
